.recipe-list-container {
  margin: 2em auto;
  max-width: 800px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.recipe-card {
  border: 1px solid #34a85344;
  padding: 1em;
  border-radius: 6px;
  min-width: 220px;
  max-width: 40%;
  cursor: pointer;
  margin: 0.5em 0;
}
.recipe-card:hover {
  background: #f7fff9;
}
.tag-list .tag {
  background: #ea4335;
  color: #fff;
  border-radius: 3px;
  padding: 0 0.5em;
  margin-right: 0.5em;
  font-size: 0.8em;
}
.search-bar {
  margin: 0.5em 0;
}
